[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "==1.7.0"
pytorch-lightning = "==1.0.0"
pandas = "*"
segmentation-models-pytorch = "*"
python-dotenv = "*"
albumentations = "*"
install = "*"
torchvision = "*"

[requires]
python_version = "3.8"
